.card-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #95dada;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
